amqp
anyio
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
dj-database-url
Django
gunicorn
h11
httpcore
httpx
idna
kombu
packaging
pillow
prompt_toolkit
psycopg2-binary
python-dateutil
python-dotenv
python-telegram-bot
redis
requests
schedule
six
sqlparse
tzdata
tzlocal
urllib3
vine
wcwidth
whitenoise
